body {
  &.dark-theme {
    transition: 1s;
    $box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: $bg-very-dark-blue;
    color: $white;

    h1,
    h2,
    h3,
    h4 {
      color: $white;
    }

    .header {
      transition: 1s;
      background: $dark-blue;

      .theme-toggle {
        transition: 1s;
        color: $white;
      }
    }

    .filters {
      .search-icon {
        transition: 1s;
        color: $white;
      }

      .search-input {
        transition: 1s;
        color: $white;
        background-color: $dark-blue;

        &::placeholder {
          transition: 1s;
          color: $white;
        }
      }

      .dropdown-header,
      .dropdown-body {
        background: $dark-blue;
      }

      .dropdown-body {
        li {
          &:hover {
            transition: 1s;
            background-color: lighten($color: $dark-blue, $amount: 5%);
          }
        }
      }
    }

    .countries-grid {
      transition: 1s;
      .country {
        transition: 1s;
        color: $white;
        background: $dark-blue;

        span {
          color: $white;
        }
      }
    }

    .loader {
      transition: 1s;
      background-color: $bg-very-dark-blue;

      .spinner .icon {
        transition: 1s;
        color: $white;
      }
    }

    .scroll-top {
      transition: 1s;
      background-color: $dark-blue;
    }

    .notifi-wrapper {
      transition: 1s;
      color: $white;
    }

    .btn {
      transition: 1s;
      background-color: $dark-blue;
      color: $white;
      box-shadow: $box-shadow;
    }

    .country-info {
      transition: 1s;
      li {
        transition: 1s;
        color: $dark-gray;
      }
      strong {
        transition: 1s;
        color: $white;
      }
    }
  }
}
