// Colors
$dark-blue: #2b3945; // (Dark Mode Elements)
$white: #ffffff; // (Dark Mode Text & Light Mode Elements)
$tx-very-dark-blue: #111517; // (Light Mode Text)
$dark-gray: #858585; // (Light Mode Input)
$bg-very-dark-blue: #202c37; // (Dark Mode Background)
$very-light-gray: #fafafa; // (Light Mode Background)

// Tranisition
$fast-transition: 0.2s linear;
$main-transition: 0.3s linear;
$medium-transition: 0.4s linear;
$slow-transition: 0.5s linear;

// Borders
$border-radius: 6px;

// Shadows
// $box-shadow: 0 2px 15px rgba(0, 0, 0, 0.050);
$box-shadow: 0 2px 15px #00000014;
$box-shadow-alt: 0 4px 20px #0000001c;
